<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    <link href="indexLibre.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css" integrity="sha512-GQGU0fMMi238uA+a/bdWJfpUGKUkBdgfFdgBm72SUQ6BeyWjoY/ton0tEjH+OSH9iP4Dfh+7HM0I9f5eR0L/4w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

	
  
</head>
<body>
    <div class="container">
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                  <a class="navbar-brand" href="/">
                      <img src="img/logo_profesional_online.png" alt="Logo" />
                    </a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                 
                      <li class="nav-item">
                        <a class="nav-link" href="/home">Autentícate</a>
                      </li>
              
                      <li class="nav-item">
                        <a class="nav-link" href="/registrate">Regístrate</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/">Sucursales</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/">Contacto</a>
                      </li>
                    </ul>
                    
                  </div>
                </div>
              </nav>
        </header>
  </div>
       <section class="container">
            
                  <div class="container mb-5">
                    <img class= "img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 100rem;" src="img/indexprincipal.jpg" >
                 
          </section>
   

          <section class="container mb-5" id="testimonios">
            <div class="row">
                <div class="col-xs-12 col-lg-4 text-center">
                  <img class="mb-4" src="img/javascript.png" alt="Curso1" />
                  <h2 class="mb-4">Desarrollo de aplicaciones Full Stack JavaScript Trainee</h2>
                  <p>
                    El curso desarrolla las habilidades necesarias para construir y mantener piezas de software en lenguaje Javascript y frameworks basados en Javascript, crear aplicaciones web en full stack Javascript y operar una base de datos para almacenar, a partir de especificaciones técnicas dadas que den solución a las problemáticas de la organización.
                  </p>
                  <a class="btn btn-primary" href="/login">Postular</a>
                </div><!-- END column1 -->
                <div class="col-xs-12 col-lg-4 text-center">
                  <img class="mb-4" src="img/python.png" alt="Curso2" />
                  <h2 class="mb-4">Desarrollo de aplicaciones Phyton</h2>
                  <p>
                    Programa orientado a desarrollar las habilidades necesarias para construir y mantener piezas de software en lenguaje Python y frameworks basados en Python, crear aplicaciones web en full stack Python y operar una base de datos para almacenar y manipular datos, a partir de especificaciones técnicas dadas.
                  </p>
                  <a class="btn btn-primary" href="/login">Postular</a>
                </div><!-- END column2 -->
                <div class="col-xs-12 col-lg-4 text-center">
                  <img class="mb-4" src="img/java.png" alt="Curso3" />
                  <h2 class="mb-3">Desarrollo de aplicaciones Full Stack Java Trainee</h2>
                  <p>  
                    Desarrolla las habilidades necesarias para construir y mantener piezas de software en lenguaje Java bajo el paradigma de orientación a objetos, crear aplicaciones web en el full stack de Java, y operar base de datos para su consulta, a partir de especificaciones técnicas dadas, que den solución a las problemáticas de la organización.
                  </p>
                  <a class="btn btn-primary" href="/login">Postular</a>
   
                </div><!-- END column3 -->
            </div>
          </section>
        <div class="container">
          <footer class="bg-dark pt-3 pb-3">
            <div class="row">
                <div class="col-sm-12 col-md-4">
                  <div class="p-2 ps-5">
                    <h3 class="text-white">Sobre nosotros</h3>
                    <p class="text-white">
                      Impartimos las mejores soluciones formativas para nuestros clientes, ya sean empresas o particulares, ofreciendo una experiencia formativa ágil y práctica.

Nuestra oferta formativa está basada en las especialidades y perfiles más demandados por las empresas.Te garantizamos una formación interactiva, actualizada y de alta calidad, orientada a conseguir la certificación oficial para así mejorar tu CV y carrera profesional. 
                    </p>
                  </div>                  
                </div>
                <div class="col-sm-12 col-md-4">
                  <div class="p-2 text-center">
                    <h3 class="ps-4 text-white text-center">Menú</h3>
                    <ul>
                      <li>
                        <a href="/">Inicio</a>
                      </li>
                      <li>
                        <a href="/">Nosotros</a>
                      </li>
                      <li>
                        <a href="/registrate">Regístrate</a>
                      </li>
                      <li>
                        <a href="/home">Autentícate</a>
                      </li>
                      <li>
                        <a href="/">Sucursales</a>
                      </li>
              
                    </ul>
                  </div>                  
                </div>
                <div class="col-sm-12 col-md-4">
                  <div class="p-2">
                    <h3 class="text-white">Visítanos</h3>
                    <p class="text-white">
                      Volcán Llaima 0620, Providencia, Santiago<br />
                      Tel: 56 2 2464 4798<br />
                    </p>
                    <hr class="text-white" />
                    <p class="text-white">
                      Av. Alemania 765, Temuco<br />
                      Tel: 56 9 2345 4378<br />         
                    </p>  
                  </div>                                           
                </div>
                <hr class="text-white"/>
                <div class="row">
                  <div class="col-sm">
                    <p class="text-center text-white"> &copy; 2022 Todos los derechos reservados   
                  </div>   
            </footer>
        </div>          
    </div>
   

<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js" integrity="sha512-pax4MlgXjHEPfCwcJLQhigY7+N8rt6bVvWLFyUMuxShv170X53TRzGPmPkZmGBhk+jikR8WBM4yl7A9WMHHqvg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>